@model ImageGallery.Client.ViewModels.OrderFrameViewModel

<h2>Order frame</h2>
<p>We are trying to get the user address from the Claim</p>

<div  class="container">
      <div class="h3">Order a franmed version to ur House addres</div>
    <div class="text-danger">The address comes from the claim</div>
    <div>We are manually valling the User Info Endpoint</div>
    <div class="text-danger">@Model.Address</div>
</div>